<div class="p-3 border bg-light" >
<% if flash[:alert] %>
<p id = "notice"><%= flash[:alert] %> </p>
<% end %>
<%= form_tag do %>
<fieldset>
    <legend class="p-3 text-center text-muted fw-bold">LOGIN</legend>
    <div class="p-3 border bg-white">
    <%= text_field_tag :name, params[:name], class: "form-control fs-5 text-muted mt-3 ", placeholder: "Name" %>
    </div><br>
    <div class="downfoot p-3">
    <%= submit_tag "Login", :class => "btn active d-grid col-11 mx-auto p-2 border border-light text-white" %>
    </div>
</fieldset>
<% end %>
</div>